<template>
    <div class="container">
        <div class="content-container">
            <div class="banner" @click="$router.push('/advancedRefer')">
                <van-image width="10.8rem" height="3.8rem" lazy-load fit="cover" :src="bannerImg"></van-image>
            </div>
            <div class="base content">
                <content-title>基础咨询</content-title>
                <van-row class="base-col">
                    <van-col span="12" class="telephone" @click="showPhone">
                        <i class="iconfont">&#xe6dc;</i>
                        <span>电话咨询</span>
                    </van-col>
                    <van-col span="12" class="weixin" @click="toggleWX">
                        <i class="iconfont">&#xe7e5;</i>
                        <span>微信咨询</span>
                    </van-col>
                </van-row>
            </div>
            <div class="faq content">
                <content-title>常见问题</content-title>
                <div class="qa-container">
                    <van-pull-refresh v-model="isLoading" @refresh="fetch(true)">
                        <van-list v-model="isLoading" @load="fetch" :finished="isFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="isError" :error-text="this.$store.state.RESP_TEXT.error">
                            <div class="qa" v-for="(item,index) in QAList" :key="index">
                                <p class="question">{{`${index+1}.${item.Ask}`}}</p>
                                <p class="answer">{{item.Answer}}</p>
                            </div>
                        </van-list>
                    </van-pull-refresh>
                </div>
            </div>
        </div>
        <van-popup class="wx-container" v-model="isShowWX" closeable>
            <h1 class="popup-header">请选择咨询师</h1>
            <van-list class="wx-list" v-model="isWXLoading" @load="fetchWX" :finished="isWXFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="isWXError" :error-text="this.$store.state.RESP_TEXT.error">
                <div class="wx van-clearfix" v-for="(item, index) in WXList" :key="index" @click="showQCode(item.QrCode)">
                    <div class="avatar-container">
                        <van-image class="avatar" width="0.84rem" height="0.84rem" fit="cover" :src="item.ImgPath" lazy-load>
                            <template v-slot:error><img class="default-avatar" src="./../../global/images/default_avatar_square.png" alt="头像"></template>
                        </van-image>
                    </div>
                    <div class="info-container">
                        <div class="name">{{item.Name}}</div>
                        <div class="introduction">{{item.Introduction}}</div>
                    </div>
                </div>
            </van-list>
        </van-popup>
        <van-popup class="qCode-container" v-model="isShowCode" closeable>
            <h1 class="popup-header">微信咨询</h1>
            <p>长按下方二维码加微信进行对话</p>
            <van-image class="qCode" width="4.7rem" height="4.7rem" fit="cover" lazy-load :src="codeImg"></van-image>
        </van-popup>
        <van-popup class="phone-container" v-model="isShowPhone" closeable>
            <h1 class="popup-header">电话咨询</h1>
            <p>{{phone}}</p>
        </van-popup>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Image, Row, Col, List, Notify, PullRefresh, Popup } from 'vant';
    import bannerImg from './refer_banner.png';
    import ContentTitle from '@/components/contentTitle/index';

    export default {
        name: 'refer',
        components: {
            ContentTitle,
            [Image.name]: Image,
            [Row.name]: Row,
            [Col.name]: Col,
            [List.name]: List,
            [PullRefresh.name]: PullRefresh,
            [Popup.name]: Popup
        },
        data () {
            return {
                bannerImg,
                // 问卷
                QAList: [],
                isLoading: false,
                isFinished: false,
                isError: false,
                curPage: 1,
                // 微信浮层
                isShowWX: false,
                // 微信
                WXList: [],
                isWXLoading: false,
                isWXFinished: false,
                isWXError: false,
                WXCurPage: 1,
                // 微信二维码浮层
                isShowCode: false,
                codeImg: '',
                // 电话浮窗
                isShowPhone: false,
                phone: ''
            };
        },
        methods: {
            fetch (refresh = false) {
                if (refresh) {
                    this.curPage = 1;
                    this.QAList = [];
                }
                this.$http.post(this.$store.state.URL.AdvisoryAsk, {
                    CurPage: this.curPage,
                    PageSize: 10
                }).then(resp => {
                    this.isLoading = false;

                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.curPage++;

                        this.QAList = this.QAList.concat(resp.List);

                        this.isFinished = this.QAList.length >= resp.Count;
                    } else {
                        this.isError = true;
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    console.log(err);
                    this.isError = true;
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            },
            toggleWX () {
                this.isShowWX = !this.isShowWX;
            },
            fetchWX (refresh = false) {
                if (refresh) {
                    this.WXCurPage = 1;
                    this.WXList = [];
                }
                this.$http.post(this.$store.state.URL.AdvisoryWeChat, {
                    CurPage: this.WXCurPage,
                    PageSize: 10
                }).then(resp => {
                    this.isWXLoading = false;

                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.WXCurPage++;

                        this.WXList = this.WXList.concat(resp.List);

                        this.isWXFinished = this.WXList.length >= resp.Count;
                    } else {
                        this.isWXError = true;
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    console.log(err);
                    this.isWXError = true;
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            },
            showQCode (url) {
                this.codeImg = url;
                this.isShowCode = true;
            },
            showPhone () {
                this.isShowPhone = true;
                this.$http.post(this.$store.state.URL.AdvisoryPhone).then(resp => {
                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.phone = resp.Phone;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    console.log(err);
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        height 100%
        h1.popup-header
            font-size 0.48rem
            font-weight normal
            color #5D5D5D
        .content-container
            view-wrapper(0, $menuBarHeight)
            background $backgroundColor
            .content
                margin-top 0.3rem
                padding 0.3rem 0
                background #fff
                color #373737
                &.base
                    .base-col
                        margin-top 0.55rem
                        text-align center
                        .iconfont
                            margin-right 0.3rem
                            font-size 0.6rem
                            vertical-align middle
                        span
                            font-size 0.48rem
                            vertical-align middle
                        .telephone
                            .iconfont
                                color #FCAC24
                        .weixin
                            .iconfont
                                color #6ADE8B
                &.faq
                    .qa-container
                        padding 0 0.75rem 0 0.47rem
                        .qa
                            &:first-child
                                .question
                                    margin-top 0.21rem
                            p
                                margin 0.21rem 0
                            .question
                                margin-top 0.59rem
                                font-size 0.36rem
                            .answer
                                font-size 0.27rem
                                color #B5B5B5
        .wx-container
            height 12.6rem
            width 9rem
            padding 0.98rem 0.6rem 0.6rem
            .wx-list
                .wx
                    margin-bottom 0.3rem
                    .avatar-container
                        float left
                    .info-container
                        box-sizing border-box
                        width 100%
                        padding 0.23rem 0 0 1.14rem
                        .name
                            font-size 0.42rem
                            color #5D5D5D
                        .introduction
                            margin-top 0.21rem
                            line-height 0.6rem
                            font-size 0.36rem
                            color #B5B5B5
        .qCode-container
            box-sizing border-box
            width 6.30rem
            padding 0.47rem 0.3rem
            p
                margin 0.89rem 0 0.6rem
                color #B5B5B5
            .qCode
                display block
                margin 0 auto
        .phone-container
            box-sizing border-box
            width 6.30rem
            padding 0.47rem 0.3rem
            p
                text-align center
                font-size 0.6rem
</style>
