<template>
    <div class="postReview-container">
        <div class="review-container">
            <div class="header">
                <span>发布点评</span><span>#{{$route.query.name}}</span>
            </div>
            <van-field class="ritj-field" v-model="content" type="textarea" placeholder="写一下您的看法（最多500字）" maxlength="500" rows="7"></van-field>
        </div>
        <div class="button-container">
            <van-button :color="this.$store.state.COLOR.theme" size="large" :loading="isLoading" @click="postReview">立即发布</van-button>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Button, Field, Notify } from 'vant';

    export default {
        name: 'postReview',
        components: {
            [Button.name]: Button,
            [Field.name]: Field
        },
        data () {
            return {
                content: '',
                isLoading: false
            };
        },
        methods: {
            postReview () {
                this.isLoading = true;

                this.$http.post(this.$store.state.URL.HouseReviewCreate, {
                    Phone: this.$store.state.USER.Phone,
                    HouseId: this.$route.query.id,
                    Contents: this.content
                }).then(resp => {
                    this.isLoading = false;
                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        Notify({ type: 'primary', message: resp.Message });
                        this.$router.back();
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    this.isLoading = false;
                    console.log(err);
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .postReview-container
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        background $backgroundColor
        .review-container
            padding 0.3rem
            background #ffffff
            .header
                margin-bottom 0.29rem
                font-weight 500
                span:first-child
                    margin-right 0.3rem
                    font-size 0.48rem
                    color #161616
                span:last-child
                    font-size 0.36rem
                    color #FFAC0C
        .button-container
            margin-top 0.9rem
            padding 0 0.9rem
</style>
