<template>
    <div class="root">
        <router-view></router-view>
        <menu-bar v-show="!getSearchState"></menu-bar>
        <search v-show="getSearchState"></search>
    </div>
</template>

<script type="text/ecmascript-6">
    import MenuBar from '@/components/menuBar/index';
    import Search from '@/components/search/index';
    export default {
        name: 'root',
        components: { Search, MenuBar },
        computed: {
            getSearchState () {
                return this.$store.state.isShowSearch;
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .root
        height 100%
</style>
