<template>
    <div class="home">
        <search-bar tool-btn="address"></search-bar>
        <div class="home-wrapper">
            <van-pull-refresh v-model="isLoading" @refresh="fetch" class="home-content">
                <header class="header-wrapper">
                    <van-swipe :autoplay="3000">
                        <van-swipe-item v-for="(item, index) in bannerList" :key="index">
                            <a :href="item.Url" class="swipe-item-link"><van-image width="10.8rem" height="4.9rem" fit="cover" lazy-load :src="item.ImgPath"></van-image></a>
                        </van-swipe-item>
                    </van-swipe>
                    <van-grid class="tab-wrapper" :column-num="5" :border="false" clickable>
                        <van-grid-item class="item"><span><img src="./home_icon_remark.png" alt="评测"></span><span class="text">评测</span></van-grid-item>
                        <van-grid-item class="item"><span><img src="./home_icon_hot.png" alt="热盘"></span><span class="text">热盘</span></van-grid-item>
                        <van-grid-item class="item" to="/informationCenter"><span><img src="./home_icon_news.png" alt="资讯"></span><span class="text">资讯</span></van-grid-item>
                        <van-grid-item class="item"><span><img src="./home_icon_life.png" alt="生活"></span><span class="text">生活</span></van-grid-item>
                        <van-grid-item class="item"><span><img src="./home_icon_refer.png" alt="咨询"></span><span class="text">咨询</span></van-grid-item>
                    </van-grid>
                </header>
                <div class="content-wrapper">
                    <van-tabs class="tabs-wrapper ritj-tabs" v-model="active" sticky animated>
                        <van-tab class="tab-item" name="review">
                            <div class="icon" slot="title">
                                <img src="./home_tab_remark.png" alt="人气点评">
                                <span>人气点评</span>
                            </div>
                            <div class="content">
                                <van-list v-model="reviewIsLoading" @load="fetchReview" :finished="reviewIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="reviewIsError" :error-text="this.$store.state.RESP_TEXT.error">
                                    <review type="normal" v-for="(item, index) in reviewList" :key="index" :review-data="item" :user-name="true" :place="true" time-type="normal"></review>
                                </van-list>
                            </div>
                        </van-tab>
                        <van-tab class="tab-item" name="news">
                            <div class="icon" slot="title">
                                <img src="./home_tab_news.png" alt="最新资讯">
                                <span>最新资讯</span>
                            </div>
                            <div class="content">
                                <van-list class="ritj-cell" v-model="newsIsLoading" @load="fetchNews" :finished="newsIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="newsIsError" :error-text="this.$store.state.RESP_TEXT.error">
                                    <van-cell v-for="(item, index) in newsList" :key="index">
                                        <news :data="item"></news>
                                    </van-cell>
                                </van-list>
                            </div>
                        </van-tab>
                        <van-tab class="tab-item" name="recommend">
                            <div class="icon" slot="title">
                                <img src="./home_tab_recommend.png" alt="推荐楼盘">
                                <span>推荐楼盘</span>
                            </div>
                            <div class="content">
                                <van-list class="ritj-cell" v-model="houseIsLoading" @load="fetchHouse" :finished="houseIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="houseIsError" :error-text="this.$store.state.RESP_TEXT.error">
                                    <van-cell v-for="(item, index) in houseList" :key="index" :border="false">
                                        <house :data="item"></house>
                                    </van-cell>
                                </van-list>
                            </div>
                        </van-tab>
                    </van-tabs>
                </div>
            </van-pull-refresh>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
  import SearchBar from '@/components/searchBar/index';
  import { Swipe, SwipeItem, PullRefresh, Grid, GridItem, Tab, Tabs, List, Cell, Image, Notify } from 'vant';
  import Review from '@/components/review/index';
  import News from '@/components/news/index';
  import House from '@/components/house/index';

  export default {
      name: 'home',
      components: {
          House,
          News,
          Review,
          SearchBar,
          [Swipe.name]: Swipe,
          [SwipeItem.name]: SwipeItem,
          [PullRefresh.name]: PullRefresh,
          [Grid.name]: Grid,
          [GridItem.name]: GridItem,
          [Tab.name]: Tab,
          [Tabs.name]: Tabs,
          [List.name]: List,
          [Cell.name]: Cell,
          [Image.name]: Image
      },
      data () {
          return {
              active: 'review',
              bannerList: [],
              isLoading: false,
              // review data
              reviewList: [],
              reviewCount: 0,
              reviewCurPage: 1,
              reviewIsLoading: false,
              reviewIsFinished: false,
              reviewIsError: false,
              // news data
              newsList: [],
              newsCount: 0,
              newsCurPage: 1,
              newsIsLoading: false,
              newsIsFinished: false,
              newsIsError: false,
              // house data
              houseList: [],
              houseCount: 0,
              houseCurPage: 1,
              houseIsLoading: false,
              houseIsFinished: false,
              houseIsError: false
          };
      },
      created () {
          this.fetchBanner();
      },
      methods: {
          fetch () {
              this.fetchBanner();

              this.reviewList = [];
              this.reviewCount = 0;
              this.reviewCurPage = 1;
              this.fetchReview();

              this.newsList = [];
              this.newsCount = 0;
              this.newsCurPage = 1;
              this.fetchNews();

              this.houseList = [];
              this.houseCount = 0;
              this.houseCurPage = 1;
              this.fetchHouse();
          },
          fetchBanner () {
              this.$http.post(this.$store.state.URL.Banner).then(resp => {
                  this.isLoading = false;

                  resp = resp.data;
                  if (resp.Code === this.$store.state.RESP_CODE.ok) {
                      this.bannerList = resp.List;
                  } else {
                      Notify({ type: 'danger', message: resp.Message });
                  }
              }).catch((err) => {
                  console.log(this.$store.state.URL.Banner, err);
                  Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
              });
          },
          fetchReview () {
              this.$http.post(this.$store.state.URL.ReviewList, {
                  Phone: this.$store.state.USER.Phone,
                  // Id: id,
                  CurPage: this.reviewCurPage,
                  PageSize: 10,
                  // Type:,
                  OrderBy: 0
              }).then(resp => {
                  this.isLoading = false;

                  this.reviewIsLoading = false;

                  resp = resp.data;

                  this.reviewCount = resp.Count;

                  if (resp.Code === this.$store.state.RESP_CODE.ok) {
                      // console.log(typeof index === 'number' && index >= 0);
                      // if (typeof index === 'number' && index >= 0) {
                      //     this.reviewList[index] = resp.List[0];
                      // } else {
                      this.reviewCurPage++;

                      if (this.reviewCount) {
                          this.reviewList = this.reviewList.concat(resp.List);
                      }
                      // }

                      this.reviewIsFinished = this.reviewList.length >= this.reviewCount;
                  } else {
                      Notify({ type: 'danger', message: resp.Message });
                      this.reviewIsError = true;
                  }
              }).catch((err) => {
                  console.log(this.$store.state.URL.ReviewList, err);

                  this.isLoading = false;
                  this.reviewIsLoading = false;
                  this.reviewIsError = true;
              });
          },
          fetchNews () {
              this.$http.post(this.$store.state.URL.InformationList, {
                  CurPage: this.newsCurPage,
                  PageSize: 10
                  // ContentId: '',
                  // SearchKey: ''
              }).then(resp => {
                  this.isLoading = false;

                  this.newsIsLoading = false;

                  resp = resp.data;

                  this.newsCount = resp.Count;

                  if (resp.Code === this.$store.state.RESP_CODE.ok) {
                      this.newsCurPage++;

                      if (this.newsCount) {
                          this.newsList = this.newsList.concat(resp.List);
                      }

                      this.newsIsFinished = this.newsList.length >= this.newsCount;
                  } else {
                      Notify({ type: 'danger', message: resp.Message });
                      this.newsIsError = true;
                  }
              }).catch((err) => {
                  console.log(this.$store.state.URL.InformationList, err);

                  this.isLoading = false;
                  this.newsIsLoading = false;
                  this.newsIsError = true;
              });
          },
          fetchHouse () {
              this.$http.post(this.$store.state.URL.HousesList, {
                  Phone: this.$store.state.USER.Phone,
                  CurPage: this.houseCurPage,
                  PageSize: 10,
                  // Id: ,
                  SearchKey: this.$store.state.searchText,
                  // District: ,
                  // Subway: ,
                  // UnitPrice: ,
                  // TotalPrice: ,
                  // Order: ,
                  IsRecommend: 1
              }).then(resp => {
                  this.isLoading = false;

                  this.houseIsLoading = false;

                  resp = resp.data;

                  this.houseCount = resp.Count;

                  if (resp.Code === this.$store.state.RESP_CODE.ok) {
                      this.houseCurPage++;

                      if (this.houseCount) {
                          this.houseList = this.houseList.concat(resp.List);
                      }

                      this.houseIsFinished = this.houseList.length >= this.houseCount;
                  } else {
                      Notify({ type: 'danger', message: resp.Message });
                      this.houseIsError = true;
                  }
              }).catch((err) => {
                  console.log(this.$store.state.URL.HousesList, err);

                  this.isLoading = false;
                  this.houseIsLoading = false;
                  this.houseIsError = true;
              });
          }
      }
  };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .home
        height 100%
        overflow hidden
        .home-wrapper
            view-wrapper($searchHeight, $menuBarHeight)
            background $backgroundColor
            .home-content
                min-height 100%
                .header-wrapper
                    .swipe-item-link
                        display inline-block
                        width 100%
                        overflow hidden
                .tab-wrapper
                    margin-top 0.3rem
                    width 100%
                    .item
                        & > div
                            padding-top 0.29rem
                            padding-bottom 0.29rem
                            img
                                width 1.38rem
                                height 1.38rem
                            .text
                                font-size 0.33rem
                                color #898989
                .content-wrapper
                    margin-top 0.3rem
                    line-height 1.2rem
</style>
