<template>
    <van-row class="container" @click="openDetail">
        <van-col span="8">
            <van-image width="3rem" height="2.25rem" lazy-load fit="cover" :src="data.ImgPath"></van-image>
        </van-col>
        <van-col span="16">
            <span class="text-container">
                <span class="title">{{data.Title}}</span>
                <span class="info">
                    <span class="tag">{{data.SiteName}}</span>
                    <span class="line"></span>
                    <span class="time">{{getTime}}</span>
                </span>
            </span>
        </van-col>
    </van-row>
</template>

<script type="text/ecmascript-6">
    import { Row, Col, Image } from 'vant';

    export default {
        name: 'news',
        components: {
            [Row.name]: Row,
            [Col.name]: Col,
            [Image.name]: Image
        },
        props: {
            data: {
                type: Object,
                require: true
            }
        },
        computed: {
            getTime () {
                return this.$tools.formatTime(this.data.InputTime, 'yyyy-mm-dd');
            }
        },
        methods: {
            openDetail () {
                this.$router.push({
                    name: 'informationDetail',
                    query: {
                        id: this.data.Id
                    }
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        width 100%
        height 2.25rem
        padding 0.1rem 0
        .text-container
            & > span
                display block
            .title
                margin-top 0.2rem
                text-ellipsis(2)
                font-size 0.48rem
                line-height 0.55rem
            .info
                margin-top 0.29rem
                height 0.36rem
                line-height 0.36rem
                font-size 0.36rem
                color #808080
                & > span
                    vertical-align middle
                .line
                    display inline-block
                    margin 0 0.14rem
                    height 0.36rem
                    border-right 1px solid #808080
</style>
