text-ellipsis(line = 1)
    overflow hidden
    text-overflow ellipsis
    if line > 1
        display -webkit-box
        -webkit-line-clamp line
        -webkit-box-orient vertical
    else
        white-space nowrap

view-wrapper(searchHeight, menuBarHeight)
    box-sizing border-box
    width 100%
    height 100%
    padding searchHeight 0 menuBarHeight
    overflow auto

ritj-button($bgColor)
    background $bgColor
    color #ffffff
    border-radius $buttonBorderRadius
