<template>
    <div class="houseDetail-container">
        <van-tabs v-model="active" class="tabs-container ritj-tabs" sticky animated @change="changeTabs">
            <van-tab class="tab-item" v-for="(item, index) in tabList" :key="index" :title="item.Name" :name="item.Id">
                <div class="content">
                    <div class="title">
                        <span>{{item.Name}}</span>
                    </div>
                    <div class="info-container">
                        <div class="info" v-for="(item, index) in content" :key="index">
                            <div class="info-title">{{item.Name}}</div>
                            <div class="info-content" v-html="item.Contents"></div>
                        </div>
                    </div>
                </div>
            </van-tab>
        </van-tabs>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Tabs, Tab, Notify } from 'vant';

    export default {
        name: 'houseDetail',
        components: {
            [Tabs.name]: Tabs,
            [Tab.name]: Tab
        },
        data () {
            return {
                tabList: [],
                active: '',
                content: []
            };
        },
        created () {
            // fetch tabs
            this.$http.post(this.$store.state.URL.HouseDetailTopTag).then(resp => {
                resp = resp.data;
                if (resp.Code === this.$store.state.RESP_CODE.ok) {
                    this.tabList = resp.List;
                    if (this.tabList.length) {
                        this.active = this.tabList[0].Id;
                        this.changeTabs();
                    }
                } else {
                    Notify({ type: 'danger', message: resp.Message });
                }
            }).catch(err => {
                console.log(this.$store.state.URL.HouseDetailTopTag, err);
                Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
            });
        },
        methods: {
            changeTabs () {
                this.$http.post(this.$store.state.URL.HouseDetail, {
                    TagId: this.active,
                    HouseId: this.$route.query.id
                }).then(resp => {
                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.content = resp.List;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    console.log(this.$store.state.URL.HouseDetail, err);
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .houseDetail-container
        height 100%
        .tabs-container
            .tab-item
                .content
                    padding 0.3rem 0
                    .title
                        span
                            display inline-block
                            box-sizing border-box
                            padding-left 0.3rem
                            width 2.1rem
                            height 0.6rem
                            line-height 0.6rem
                            background $themeColor
                            border-radius 0 0.6rem 0.6rem 0
                            font-size 0.33rem
                            font-weight 500
                            color #ffffff
                    .info-container
                        padding 0.3rem 0.3rem 0
                        .info-title
                            margin-bottom 0.3rem
                            color #474747
                            font-size 0.36rem
                            font-weight 500
</style>
