<template>
    <div class="container">
        <div class="tag-container">
            <div class="title">
                搜索历史
            </div>
            <div class="tags">
                <span class="tag" v-for="(item, index) in getSearchList" :key="index" @click="getTag(item)">{{item}}</span>
            </div>
            <div class="btn-container">
                <button class="btn-clear" @click="clearTag">清空搜索记录</button>
            </div>
        </div>

    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        name: 'search',
        computed: {
            getSearchList () {
                return this.$store.state.searchTextList;
            }
        },
        methods: {
            getTag (text) {
                this.$store.commit('setSearchText', text);
            },
            clearTag () {
                this.$store.commit('clearSearchList');
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        overflow hidden
        .tag-container
            box-sizing border-box
            height 100%
            padding $searchHeight 0.32rem 0.6rem
            background #F2F6F9
            overflow auto
            .title
                margin 0.9rem 0
                font-size 0.45rem
            .tags
                height 2.6rem
                overflow hidden
                .tag
                    display inline-block
                    margin 0.3rem 0.3rem 0 0
                    padding 0.28rem 0.44rem
                    border-radius 0.04rem
                    font-size 0.36rem
                    color #6A6A6A
                    background #E6EAED
        .btn-container
            margin-top 3.17rem
            text-align center
            .btn-clear
                font-size 0.36rem
                color #FFAC0C
</style>
