<template>
    <div class="reviewDetail-container">
        <div class="main-review">
            <review type="normal" v-if="mainReviewData" :review-data="mainReviewData" :user-name="true" :place="true" time-type="normal"></review>
        </div>
        <div class="reviews-container">
            <van-list v-model="reviewIsLoading" @load="fetchReview" :finished="reviewIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="reviewIsError" :error-text="this.$store.state.RESP_TEXT.error">
                <review type="normal" v-for="(item, index) in reviewList" :key="index" :review-data="item" :user-name="true" :place="false" time-type="normal"></review>
            </van-list>
        </div>
        <van-row class="chat-container">
            <van-col span="19" class="post-input"><van-field class="ritj-bg-transparent" v-model="reviewText" placeholder="说说你的想法..."></van-field></van-col>
            <van-col span="5" class="post-button"><button @click="postReview">发布</button></van-col>
        </van-row>
    </div>
</template>

<script type="text/ecmascript-6">
    import { List, Notify, Row, Col, Field } from 'vant';
    import Review from '@/components/review/index';
    export default {
        name: 'reviewDetail',
        components: {
            Review,
            [List.name]: List,
            [Row.name]: Row,
            [Col.name]: Col,
            [Field.name]: Field
        },
        data () {
            return {
                mainReviewData: undefined,
                // review data
                reviewList: [],
                reviewCurPage: 1,
                reviewIsLoading: false,
                reviewIsFinished: false,
                reviewIsError: false,
                reviewText: ''
            };
        },
        methods: {
            fetchMainReview () {
                this.$http.post(this.$store.state.URL.ReviewList, {
                    Phone: this.$store.state.USER.Phone,
                    Id: this.$route.query.id
                }).then(resp => {
                    resp = resp.data;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.mainReviewData = resp.List[0];
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    console.log(err);
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            },
            fetchReview (refresh = false) {
                if (refresh) {
                    this.reviewCurPage = 1;
                    this.reviewList = [];
                }
                this.$http.post(this.$store.state.URL.ReviewDetail, {
                    CurPage: this.reviewCurPage,
                    PageSize: 10,
                    Phone: this.$store.state.USER.Phone,
                    Id: this.$route.query.id
                }).then(resp => {
                    this.reviewIsLoading = false;

                    resp = resp.data;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.reviewCurPage++;

                        this.reviewList = this.reviewList.concat(resp.List);

                        this.reviewIsFinished = this.reviewList.length >= resp.Count;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                        this.reviewIsError = true;
                    }
                }).catch(err => {
                    console.log(err);
                    this.reviewIsError = true;
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            },
            postReview () {
                this.$http.post(this.$store.state.URL.ReviewCreate, {
                    Phone: this.$store.state.USER.Phone,
                    ReviewId: this.mainReviewData.Id,
                    Contents: this.reviewText
                }).then(resp => {
                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.reviewText = '';
                        this.fetchReview(true);
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                        this.reviewIsError = true;
                    }
                }).catch(err => {
                    console.log(err);
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            }
        },
        created () {
            this.fetchMainReview();
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    $bottomHeight = 1.44rem

    .reviewDetail-container
        height 100%
        & > div
            background #ffffff
        .reviews-container
            margin-top 0.12rem
            padding-bottom $bottomHeight
        .chat-container
            box-sizing border-box
            position fixed
            bottom 0
            left 0
            width 100%
            height $bottomHeight
            padding 0.26rem 0.3rem
            box-shadow -4px -2px 2px 0px rgba(164,164,164,0.51)
            background #ffffff
            button
                height 0.9rem
                width 100%
            .post-input
                text-align left
                ritj-button(#F0EFF4)
                color #B5B5B5
            .post-button
                padding-left 0.3rem
                button
                    ritj-button(#80B2FD)
</style>
