<template>
    <div class="myReviews-container">
        <van-pull-refresh v-model="isLoading" @refresh="fetchReview(true)" class="content-container">
            <van-list v-model="isLoading" @load="fetchReview" :finished="reviewIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="reviewIsError" :error-text="this.$store.state.RESP_TEXT.error">
                <review class="myReview" type="my" v-for="(item, index) in reviewList" :key="index" :review-data="item" :user-name="false" :place="true" time-type="line"></review>
            </van-list>
        </van-pull-refresh>
    </div>
</template>

<script type="text/ecmascript-6">
    import { PullRefresh, List, Cell, Notify } from 'vant';
    import Review from '@/components/review/index';
    export default {
        name: 'myReviews',
        components: {
            Review,
            [PullRefresh.name]: PullRefresh,
            [List.name]: List,
            [Cell.name]: Cell
        },
        data () {
            return {
                isLoading: false,
                // review data
                reviewList: [],
                reviewCurPage: 1,
                reviewIsFinished: false,
                reviewIsError: false
            };
        },
        methods: {
            fetchReview (refresh = false) {
                if (refresh) {
                    this.reviewList = [];
                    this.reviewCurPage = 1;
                }
                this.$http.post(this.$store.state.URL.ReviewList, {
                    Phone: this.$store.state.USER.Phone,
                    CurPage: this.reviewCurPage,
                    PageSize: 10,
                    OrderBy: 1,
                    IsMine: '1'
                }).then(resp => {
                    this.isLoading = false;

                    resp = resp.data;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.reviewCurPage++;

                        this.reviewList = this.reviewList.concat(resp.List);

                        this.reviewIsFinished = this.reviewList.length >= resp.Count;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                        this.reviewIsError = true;
                    }
                }).catch((err) => {
                    console.log(this.$store.state.URL.ReviewList, err);

                    this.isLoading = false;
                    this.reviewIsError = true;
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .myReviews-container
        background #ffffff
        .myReview
            padding 0.3rem 0.55rem
            border-bottom 1px solid #F2F6F9
</style>
