<template>
    <van-tabbar class="menu" v-model="active" active-color="#FF4A4A" inactive-colo="#626262" route>
        <van-tabbar-item name="home" replace to="/home">
            <span>首页</span>
            <img slot="icon" slot-scope="props" :src="props.active ? icon.home.active : icon.home.normal" alt="首页">
        </van-tabbar-item>
        <van-tabbar-item name="house" replace to="/findHouse">
            <span>找房</span>
            <img slot="icon" slot-scope="props" :src="props.active ? icon.house.active : icon.house.normal" alt="找房">
        </van-tabbar-item>
        <van-tabbar-item name="refer" replace to="/refer">
            <span>咨询</span>
            <img slot="icon" slot-scope="props" :src="props.active ? icon.refer.active : icon.refer.normal" alt="咨询">
        </van-tabbar-item>
        <van-tabbar-item name="remark" replace to="/reviews">
            <span>点评</span>
            <img slot="icon" slot-scope="props" :src="props.active ? icon.remark.active : icon.remark.normal" alt="点评">
        </van-tabbar-item>
        <van-tabbar-item name="my" replace to="/my">
            <span>我的</span>
            <img slot="icon" slot-scope="props" :src="props.active ? icon.my.active : icon.my.normal" alt="我的">
        </van-tabbar-item>
    </van-tabbar>
</template>

<script type="text/ecmascript-6">
    import { Tabbar, TabbarItem } from 'vant';
    import iconHome from './menu_home.png';
    import iconHomeActive from './menu_home_focus.png';
    import iconHouse from './menu_house.png';
    import iconHouseActive from './menu_house_focus.png';
    import iconMy from './menu_my.png';
    import iconMyActive from './menu_my_focus.png';
    import iconRefer from './menu_refer.png';
    import iconReferActive from './menu_refer_focus.png';
    import iconRemark from './menu_remark.png';
    import iconRemarkActive from './menu_remark_focus.png';

    export default {
        name: 'menuBar',
        components: {
            [Tabbar.name]: Tabbar,
            [TabbarItem.name]: TabbarItem
        },
        data () {
            return {
                active: 'home',
                icon: {
                    home: {
                        normal: iconHome,
                        active: iconHomeActive
                    },
                    house: {
                        normal: iconHouse,
                        active: iconHouseActive
                    },
                    my: {
                        normal: iconMy,
                        active: iconMyActive
                    },
                    refer: {
                        normal: iconRefer,
                        active: iconReferActive
                    },
                    remark: {
                        normal: iconRemark,
                        active: iconRemarkActive
                    }
                }
            };
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
.menu
    span
        font-size 0.27rem
    img
        width 0.5rem
        height 0.5rem
</style>
