<template>
    <div class="myHouse-container">
        <van-pull-refresh v-model="isLoading" @refresh="fetchHouse(true)" class="content-container">
            <van-list class="ritj-cell" v-model="isLoading" @load="fetchHouse" :finished="houseIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="houseIsError" :error-text="this.$store.state.RESP_TEXT.error">
                <van-cell v-for="(item, index) in houseList" :key="index" :border="false">
                    <house :data="item"></house>
                </van-cell>
            </van-list>
        </van-pull-refresh>
    </div>
</template>

<script type="text/ecmascript-6">
    import { PullRefresh, List, Cell, Notify } from 'vant';
    import House from '@/components/house/index';
    export default {
        name: 'myHouse',
        components: {
            House,
            [PullRefresh.name]: PullRefresh,
            [List.name]: List,
            [Cell.name]: Cell
        },
        data () {
            return {
                isLoading: false,
                // house data
                houseList: [],
                houseCurPage: 1,
                houseIsFinished: false,
                houseIsError: false
            };
        },
        methods: {
            fetchHouse (isFresh = false) {
                if (isFresh) {
                    this.houseList = [];
                    this.houseCurPage = 1;
                }
                this.$http.post(this.$store.state.URL.HouseFavorite, {
                    Phone: this.$store.state.USER.Phone,
                    CurPage: this.houseCurPage,
                    PageSize: 10
                }).then(resp => {
                    this.isLoading = false;

                    resp = resp.data;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.houseCurPage++;

                        this.houseList = this.houseList.concat(resp.List);

                        this.houseIsFinished = this.houseList.length >= resp.Count;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                        this.houseIsError = true;
                    }
                }).catch((err) => {
                    console.log('api/HousesList', err);

                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                    this.isLoading = false;
                    this.houseIsError = true;
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .myHouse-container
        background #ffffff
</style>
