<template>
    <div class="container">
        <search-bar tool-btn="address"></search-bar>
        <div class="page-container">
            <van-tabs class="tabs-wrapper ritj-tabs" animated v-model="active">
                <van-tab class="tab-item" name="Pro">
                    <div class="icon" slot="title">
                        <img src="./review_pro.png" alt="专业评测">
                        <span>专业评测</span>
                    </div>
                    <div class="content">
                        <van-pull-refresh v-model="isProLoading" @refresh="fetchReview(true, 'Pro')" class="home-content">
                            <van-list v-model="reviewProIsLoading" @load="fetchReview(false, 'Pro')" :finished="reviewProIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="reviewProIsError" :error-text="this.$store.state.RESP_TEXT.error">
                                <review type="normal" v-for="(item, index) in reviewProList" :key="index" :review-data="item" :user-name="true" :place="true" time-type="normal"></review>
                            </van-list>
                        </van-pull-refresh>
                    </div>
                </van-tab>
                <van-tab class="tab-item" name="Normal">
                    <div class="icon" slot="title">
                        <img src="./review_normal.png" alt="用户点评">
                        <span>用户点评</span>
                    </div>
                    <div class="content">
                        <van-pull-refresh v-model="isNormalLoading" @refresh="fetchReview(true, 'Normal')" class="home-content">
                            <van-list v-model="reviewNormalIsLoading" @load="fetchReview(false, 'Normal')" :finished="reviewNormalIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="reviewNormalIsError" :error-text="this.$store.state.RESP_TEXT.error">
                                <review type="normal" v-for="(item, index) in reviewNormalList" :key="index" :review-data="item" :user-name="true" :place="true" time-type="normal"></review>
                            </van-list>
                        </van-pull-refresh>
                    </div>
                </van-tab>
            </van-tabs>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import SearchBar from '@/components/searchBar/index';
    import { Tabs, Tab, List, Cell, PullRefresh, Notify } from 'vant';
    import Review from '@/components/review/index';

    export default {
        name: 'reviews',
        components: {
            Review,
            SearchBar,
            [Tabs.name]: Tabs,
            [Tab.name]: Tab,
            [List.name]: List,
            [Cell.name]: Cell,
            [PullRefresh.name]: PullRefresh
        },
        data () {
            return {
                active: 'Pro',
                // review data
                isProLoading: false,
                reviewProList: [],
                reviewProCount: 0,
                reviewProCurPage: 1,
                reviewProIsLoading: false,
                reviewProIsFinished: false,
                reviewProIsError: false,
                // review data
                isNormalLoading: false,
                reviewNormalList: [],
                reviewNormalCount: 0,
                reviewNormalCurPage: 1,
                reviewNormalIsLoading: false,
                reviewNormalIsFinished: false,
                reviewNormalIsError: false
            };
        },
        methods: {
            /**
             * 刷新列表
             * @param isClear true-清空刷新
             * @param active Pro Normal
             */
            fetchReview (isClear = false, active) {
                if (isClear) {
                    this[`review${active}List`] = [];
                    this[`review${active}Count`] = 0;
                    this[`review${active}CurPage`] = 1;
                }

                this.$http.post(this.$store.state.URL.ReviewList, {
                    Phone: this.$store.state.USER.Phone,
                    // Id:,
                    CurPage: this[`review${active}CurPage`],
                    PageSize: 10,
                    Type: active === 'Pro' ? 0 : 1,
                    OrderBy: 1
                }).then(resp => {
                    this[`is${active}Loading`] = false;

                    this[`review${active}IsLoading`] = false;

                    resp = resp.data;

                    this[`review${active}Count`] = resp.Count;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this[`review${active}CurPage`]++;

                        if (this[`review${active}Count`]) {
                            this[`review${active}List`] = this[`review${active}List`].concat(resp.List);
                        }

                        this[`review${active}IsFinished`] = this[`review${active}List`].length >= this[`review${active}Count`];
                    } else {
                        Notify(resp.Message);
                        this[`review${active}IsError`] = true;
                    }
                }).catch((err) => {
                    console.log(this.$store.state.URL.ReviewList, err);

                    this[`review${active}IsError`] = true;
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        height 100%
        .page-container
            view-wrapper($searchHeight, $menuBarHeight)
            background $backgroundColor
</style>
