<template>
    <div class="house-container">
        <div class="page-container">
            <div class="main-image">
                <van-image width="10.8rem" height="6.08rem" fit="cover" lazy-load :src="$route.query.GalleryUrl"></van-image>
                <button class="more" @click="openImages">查看更多</button>
            </div>
            <div class="info-container">
                <h1>{{$route.query.Name}}</h1>
                <van-row class="price-container">
                    <van-col span="12">
                        <h4>单价</h4>
                        <p>{{$route.query.UnitPrice}}元/㎡</p>
                    </van-col>
                    <van-col span="12">
                        <h4>总价</h4>
                        <p>{{$route.query.TotalPrice}}</p>
                    </van-col>
                </van-row>
                <button class="zhidian"><img src="./zhidian.png" alt="免费致电"></button>
                <p class="info"><span class="title">产品类型:</span><span class="content">{{$route.query.PropertyType}}</span></p>
                <p class="info"><span class="title">开发企业:</span><span class="content">{{$route.query.Developer}}</span></p>
                <p class="info"><span class="title">开盘时间:</span><span class="content">{{$tools.formatTime($route.query.OpenDate, 'yyyy-mm-dd')}}</span></p>
                <p class="info"><span class="title">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</span><span class="content">{{$route.query.Telephone}}</span></p>
                <p class="info"><span class="title">楼盘地址:</span><span class="content">{{$route.query.Address}}</span><van-icon name="arrow" style="float: right; font-size: 0.42rem;"></van-icon></p>
                <div class="button-container">
                    <van-button :color="this.$store.state.COLOR.theme" size="large" @click="openDetail">更多详情</van-button>
                </div>
            </div>
            <div class="reviews-container">
                <h2>楼盘评论（{{reviewCount}}条）</h2>
                <van-list v-model="reviewIsLoading" @load="fetchReview" :finished="reviewIsFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="reviewIsError" :error-text="this.$store.state.RESP_TEXT.error">
                    <review type="normal" v-for="(item, index) in reviewList" :key="index" :review-data="item" :user-name="true" :place="true" time-type="normal"></review>
                </van-list>
            </div>
        </div>
        <van-row class="footer">
            <van-col span="12" class="like-container"><i class="iconfont" :class="isLike ? 'like' : ''" @click="likeHouse">&#xe663;</i><span>关注</span></van-col>
            <van-col span="12">
                <van-row class="button-container">
                    <van-col span="12"><button class="review" @click="openPostReview">点评</button></van-col>
                    <van-col span="12"><button class="refer" @click="$router.push('/refer')">咨询</button></van-col>
                </van-row>
            </van-col>
        </van-row>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Row, Col, Image, Icon, Button, Notify, List } from 'vant';
    export default {
        name: 'houseView',
        components: {
            [Row.name]: Row,
            [Col.name]: Col,
            [Image.name]: Image,
            [Icon.name]: Icon,
            [Button.name]: Button,
            [List.name]: List
        },
        data () {
            return {
                // review data
                reviewList: [],
                reviewCurPage: 1,
                reviewIsLoading: false,
                reviewIsFinished: false,
                reviewIsError: false,
                reviewCount: 0,
                isLike: this.$route.query.IsFavorite === '1'
            };
        },
        methods: {
            fetchReview () {
                this.$http.post(this.$store.state.URL.ReviewList, {
                    CurPage: this.reviewCurPage,
                    PageSize: 10,
                    Phone: this.$store.state.USER.Phone,
                    Id: this.$route.query.Id
                }).then(resp => {
                    this.reviewIsLoading = false;

                    resp = resp.data;

                    this.reviewCount = resp.Count;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.reviewCurPage++;

                        this.reviewList = this.reviewList.concat(resp.List);

                        this.reviewIsFinished = this.reviewList.length >= resp.Count;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                        this.reviewIsError = true;
                    }
                }).catch(err => {
                    console.log(err);
                    this.reviewIsError = true;
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            },
            likeHouse () {
                let nextState = !this.isLike;
                this.$http.post(this.$store.state.URL.Like, {
                    Phone: this.$store.state.USER.Phone,
                    Type: 2,
                    Id: this.$route.query.Id,
                    IsLike: nextState ? 1 : 0
                }).then(resp => {
                    resp = resp.data;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.isLike = nextState;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    console.log(err);
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            },
            openPostReview () {
                this.$router.push({
                    name: 'postReview',
                    query: {
                        name: this.$route.query.Name,
                        id: this.$route.query.Id
                    }
                });
            },
            openDetail () {
                this.$router.push({
                    name: 'houseDetail',
                    query: {
                        id: this.$route.query.Id
                    }
                });
            },
            openImages () {
                this.$router.push({
                    name: 'houseImages',
                    query: {
                        id: this.$route.query.Id
                    }
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    $footerHeight = 1.5rem

    .house-container
        position relative
        height 100%
        .page-container
            view-wrapper(0, $footerHeight)
            background $backgroundColor
            .main-image
                position relative
                .more
                    position absolute
                    bottom 0.3rem
                    right 0.45rem
                    padding 0.17rem 0.11rem
                    font-size 0.39rem
                    ritj-button(rgba(0, 0, 0, 0.35))
                    font-weight 800
            .info-container
                position relative
                padding 0.3rem
                color #474747
                background #ffffff
                h1
                    padding-left 0.29rem
                    margin 0 0 0.28rem
                    font-size 0.6rem
                p
                    margin 0.3rem 0
                .price-container
                    text-align center
                    font-size 0.36rem
                    h4
                        margin 0 0 0.3rem
                        font-weight normal
                    p
                        margin 0
                        color #FFAC0C
                .zhidian
                    position absolute
                    right 0.17rem
                    bottom 2.93rem
                    img
                        width 1.44rem
                        height 1.66rem
                .info
                    color #B5B5B5
                    .content
                        color #474747
                .button-container
                    margin-top 0.6rem
                    padding 0 0.6rem
            .reviews-container
                margin-top 0.3rem
                padding 0.3rem
                background #ffffff
                h2
                    font-size 0.36rem
                    color #474747
                    font-weight 500
        .footer
            box-sizing border-box
            position fixed
            bottom 0
            left 0
            width 100%
            height $footerHeight
            padding 0.26rem 0.3rem
            box-shadow -4px -2px 2px 0px rgba(164,164,164,0.51)
            background #ffffff
            .like-container
                padding 0.1rem 0.3rem
                font-size 0.36rem
                .iconfont
                    vertical-align middle
                    font-size 0.66rem
                    color #ECECEC
                    &.like
                        color #FE6868
                span
                    margin-left 0.3rem
                    vertical-align middle
            .button-container
                button
                    width 2.4rem
                    height 0.99rem
                    font-size 0.36rem
                    font-weight 500
                    &.review
                        ritj-button(#FFAC0C)
                    &.refer
                        ritj-button(#5199FD)
</style>
