<template>
    <div class="houseImages-container">
        <van-tabs v-model="active" class="tabs-container ritj-tabs" sticky animated>
            <van-tab v-for="(item, index) in tabs" :key="index" :title="item.Name" :name="item.Id">
                <div class="content">
                    <div class="title">
                        {{item.Name}}({{imgList[`${active}List`].length}})
                    </div>
                    <div class="images">
                        <van-grid :border="false" :column-num="3">
                            <van-grid-item v-for="(item, index) in imgList[`${active}List`]" :key="index">
                                <van-image width="100%" fit="cover" :src="item" lazy-load @click="openImagePreview(index)"></van-image>
                            </van-grid-item>
                        </van-grid>
                    </div>
                </div>
            </van-tab>
        </van-tabs>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Grid, GridItem, Tabs, Tab, Notify, Image, ImagePreview } from 'vant';

    export default {
        name: 'houseImages',
        components: {
            [Grid.name]: Grid,
            [GridItem.name]: GridItem,
            [Tabs.name]: Tabs,
            [Tab.name]: Tab,
            [Image.name]: Image
        },
        data () {
            return {
                active: 'House',
                tabs: [
                    {
                        Name: '户型图',
                        Id: 'House'
                    },
                    {
                        Name: '实景图',
                        Id: 'Real'
                    },
                    {
                        Name: '交通图',
                        Id: 'Traffic'
                    },
                    {
                        Name: '样板间',
                        Id: 'Sample'
                    },
                    {
                        Name: '效果图',
                        Id: 'Effect'
                    }
                ],
                imgList: {
                    EffectList: [],
                    HouseList: [],
                    RealList: [],
                    SampleList: [],
                    TrafficList: []
                }
            };
        },
        created () {
            // fetch Images
            this.$http.post(this.$store.state.URL.HousePhoto, {
                HouseId: this.$route.query.id
            }).then(resp => {
                resp = resp.data;
                if (resp.Code === this.$store.state.RESP_CODE.ok) {
                    this.tabs.map(value => {
                        this.imgList[`${value.Id}List`] = [];

                        let images = resp[`${value.Id}List`];
                        images.map(imgValue => {
                            this.imgList[`${value.Id}List`].push(imgValue.ImgUrl);
                        });
                        console.log(this.imgList[`${value.Id}List`]);
                    });
                } else {
                    Notify({ type: 'danger', message: resp.Message });
                }
            }).catch(err => {
                console.log(this.$store.state.URL.HouseDetail, err);
                Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
            });
        },
        methods: {
            openImagePreview (index) {
                ImagePreview({
                    images: this.imgList[`${this.active}List`],
                    startPosition: index
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .houseImages-container
        height 100%
        .content
            padding 0.3rem
            .title
                color #B5B5B5
                font-size 0.36rem
                font-weight 500
</style>
