<template>
    <div id="app">
        <router-view/>
    </div>
</template>
<style lang="stylus">
    html, body, #app
        height 100%
        width 100%
        background $backgroundColor
        font-size 0.36rem
        font-weight 200
        font-family Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif

    button
        border none
        background none

    .vue-search
        .van-search__content
            padding-left 0.45rem

    .line-middle
        display inline-block
        height 100%
        vertical-align middle

    .vue-search
        .van-overlay
            z-index $searchOverlayZIndex !important
        .van-popup
            z-index $searchPopupZIndex !important

    .default-avatar
        width 100%
        height 100%

    .ritj-cell
        .van-cell
            line-height normal
            font-size 0

    .ritj-tabs
        .icon
            img
                width 0.44rem
                height 0.44rem
                margin-right 0.12rem
                vertical-align middle
            span
                display inline-block
                font-size 0.36rem
                color #474747
                vertical-align middle
        .content
            margin-top 0.3rem
            background #fff
        .van-tabs__wrap.van-hairline--top-bottom
            height 1.4rem
            .van-tabs__nav--line
                padding-bottom 0.1rem
                .van-tabs__line
                    background-image $themeColor
                    z-index 0

    .ritj-field
        padding 0
        .van-field__control
            background #F2F6F9

    .ritj-bg-transparent
        background transparent
</style>
