<template>
    <van-row class="container">
        <van-col v-if="type !== 'my'" span="5" class="left">
            <van-image class="avatar" width="1.02rem" height="1.02rem" fit="cover" round :src="reviewData.ImgPath" lazy-load>
                <template v-slot:error><img class="default-avatar" src="./../../global/images/defaut_avatar.png" alt="头像"></template>
            </van-image>
            <p class="title"><span>{{reviewData.Identity}}</span></p>
        </van-col>
        <van-col :span="type === 'my' ? 24 : 19" class="right">
            <div class="title">
                <span class="name" v-if="userName">{{reviewData.Name}}</span>
                <span class="place" :class="type === 'my' ? 'my' : ''" v-if="place">点评<span>{{reviewData.HouseName}}</span></span>
                <span class="time" v-if="timeType === 'normal'">{{this.$tools.formatTime(reviewData.InputTime)}}</span>
            </div>
            <div class="line-time-container" v-if="timeType === 'line'">{{this.$tools.formatTime(reviewData.InputTime)}}</div>
            <div class="content">{{reviewData.Contents}}</div>
            <div class="tool-container">
                <span class="tool" @click="toggleLike(reviewData.Id)"><i class="iconfont" :class="isLike ? 'like' : ''">&#xe717;</i><span class="count">{{getCount(likeCount)}}</span></span><span class="tool" @click="goReviewDetail(reviewData.Id)"><i
                    class="iconfont">&#xe601;</i><span class="count">{{getCount(reviewData.ReviewCount)}}</span></span>
            </div>
        </van-col>
    </van-row>
</template>

<script type="text/ecmascript-6">
    import { Row, Col, Image, Notify, Loading } from 'vant';

    export default {
        name: 'review',
        components: {
            [Row.name]: Row,
            [Col.name]: Col,
            [Image.name]: Image,
            [Loading.name]: Loading
        },
        props: {
            type: {
                type: String,
                require: true
            },
            userName: {
                type: Boolean,
                require: true
            },
            place: {
                type: Boolean,
                require: true
            },
            timeType: {
                type: String, // none normal line
                default: 'none'
            },
            reviewData: {
                type: Object,
                require: true
            }
        },
        data () {
            return {
                isLike: false,
                likeCount: 0,
                isLoading: false
            };
        },
        watch: {
            reviewData: {
                handler: (value) => {
                    this.isLike = value.IsLike;
                    this.likeCount = value.LikeCount;
                },
                deep: true
            }
        },
        methods: {
            getCount (count) {
                return count > 10000 ? `${(count / 10000).toFixed(1)}w` : count;
            },
            toggleLike (id) {
                if (this.isLoading) {
                    return;
                }
                this.isLoading = true;

                let likeState = !this.isLike;

                this.$http.post(this.$store.state.URL.Like, {
                    Phone: this.$store.state.USER.Phone,
                    Type: 1,
                    Id: id,
                    IsLike: likeState ? 1 : 0
                }).then(resp => {
                    this.isLoading = false;

                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.isLike = likeState;
                        this.likeCount += likeState ? 1 : -1;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    console.log('review', err);
                    Notify(this.$store.state.RESP_TEXT.netError);
                });
            },
            goReviewDetail (id) {
                this.$router.push({
                    name: 'reviewDetail',
                    query: {
                        id
                    }
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        line-height normal
        padding 0.3rem 0.57rem 0.3rem 0
        .left
            text-align center
            font-size 0
            .title
                margin-top 0.3rem
                span
                    display inline-block
                    margin 0 auto
                    padding 0.03rem 0.06rem
                    font-size 0.18rem
                    color #fff
                    background #FFAC0C
                    border-radius 0.05rem
        .right
            .title
                line-height 0.36rem
                .name
                    margin-right 0.17rem
                    font-size 0.36rem
                    color #474747
                .place
                    margin-right 0.2rem
                    font-size 0.28rem
                    color #737373
                    &.my
                        font-size 0.36rem
                        color #474747
                        font-weight 400
                    span
                        margin-left 0.17rem
                        color #FFAC0C
                .time
                    font-size 0.24rem
                    color #A5A5A5
            .line-time-container
                margin-top 0.2rem
                font-size 0.24rem
                color #A5A5A5
            .content
                margin-top 0.3rem
                line-height 0.3rem
                font-size 0.27rem
                color #B5B5B5
                word-break break-all
            .tool-container
                margin-top 0.3rem
                text-align right
                .tool
                    color #A5A5A5
                    line-height 0.42rem
                    &:first-child
                        margin-right 0.3rem
                    .iconfont
                        margin-right 0.15rem
                        font-size 0.42rem
                        vertical-align middle
                        &.like
                            color #FFAC0C
                    .count
                        overflow hidden
                        font-size 0.27rem
                        vertical-align middle
</style>
