<template>
    <div class="container" @click="openHouse">
        <div class="image-container">
            <van-image width="3rem" height="3rem" fit="cover" lazy-load :src="data.GalleryUrl"></van-image>
        </div>
        <div class="info-container">
            <div class="name-container">
                <span class="name">{{data.Name}}</span>
                <span class="count">点评{{data.ReviewCount}}条</span>
            </div>
            <div class="tag-container">
                <van-tag class="tag" color="#FFAC0C" v-for="(item, index) in data.Tag.split(',')" v-if="index < 2" :key="index">{{item}}</van-tag>
            </div>
            <div class="price">{{Math.round(data.UnitPrice)}}元/㎡</div>
            <div class="address">{{data.Address}}</div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Image, Tag } from 'vant';

    export default {
        name: 'house',
        components: {
            [Image.name]: Image,
            [Tag.name]: Tag
        },
        props: {
            data: {
                type: Object,
                require: true
            }
        },
        methods: {
            openHouse () {
                this.$router.push({
                    path: '/house',
                    query: this.data
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        position relative
        & > div
            display inline-block
        .info-container
            box-sizing border-box
            position absolute
            top 0
            left 0
            padding-left 3.45rem
            width 100%
            color #808080
            .name-container
                position relative
                .name
                    display inline-block
                    max-width 5rem
                    text-ellipsis()
                    color #000000
                    font-size 0.48rem
                .count
                    display inline-block
                    position absolute
                    top 0.16rem
                    right 0
                    font-size 0.3rem
            .tag-container
                margin-top 0.2rem
                .tag
                    margin-right 0.39rem
                    &:last-child
                        margin 0
            .price
                margin-top 0.2rem
                font-size 0.48rem
            .address
                margin-top 0.16rem
                font-size 0.36rem
                text-ellipsis()
</style>
