<template>
    <div class="vue-search">
        <van-row class="container" :class="containerZIndex ? 'container-zIndex' : ''">
            <van-col span="4" class="tool-container">
                <span class="addr-content" v-if="toolBtn === 'address'" @click="togglePopupShow"><span class="addr-text">{{address}}</span></span>
                <span v-if="toolBtn === 'more'" @click="togglePopupShow"><i class="iconfont">&#xe622;</i></span>
                <i class="line-middle"></i>
            </van-col>
            <van-col span="20" class="search-container">
                <van-search class="search" :placeholder="searchHolder" :value="getSearchText" @input="changeSearchText" shape="round" left-icon=""
                            background="rgba(0, 0, 0, 0)" @search="search" @focus="checkSearchPage">
                    <button slot="right-icon" @click="search"><i class="iconfont">&#xe616;</i></button>
                </van-search>
            </van-col>
        </van-row>
        <van-popup v-model="popupShow" position="top" :style="style.popupStyle" :overlay-style="style.overlayStyle" @open="toggleContainerZIndex" @closed="toggleContainerZIndex">
            <van-area v-if="toolBtn === 'address'" :area-list="areaList" :value="cityCode" :columns-num="2" @cancel="togglePopupShow" @confirm="changeCity"></van-area>
            <div v-if="toolBtn === 'more'" class="more-container">
                <van-row v-for="i in Math.ceil(moreList.length / 4)" :key="i" class="news-row" :class="(i - 1) ? 'row-n' : ''">
                    <van-col class="news" span="6" v-for="(item, index) in moreList" :key="item.code" v-if="index >= (i - 1) * 4 && index < i * 4">
                        <div @click="searchNews(moreList[index])">{{moreList[index].Name}}</div>
                    </van-col>
                </van-row>
            </div>
        </van-popup>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Search, Row, Col, Area, Popup, Notify } from 'vant';
    import areaList from '@/global/js/area';

    export default {
        name: 'searchBar',
        components: {
            [Search.name]: Search,
            [Row.name]: Row,
            [Col.name]: Col,
            [Area.name]: Area,
            [Popup.name]: Popup
        },
        props: {
            toolBtn: {
                type: String,
                require: true
            }
        },
        data () {
            return {
                style: {
                    popupStyle: {
                        top: '1.5rem'
                    },
                    overlayStyle: {
                        top: '1.5rem'
                    }
                },
                address: '',
                searchHolder: '请输入',
                areaList,
                popupShow: false,
                containerZIndex: false,
                cityCode: '',
                moreList: [],
                selectClassify: ''
            };
        },
        computed: {
            getSearchText () {
                return this.$store.state.searchText;
            }
        },
        created () {
            // TODO 获取搜索栏初始化数据
            this.searchHolder = '远洋城';
            this.address = '天津市';
            this.cityCode = '120000';

            if (this.toolBtn === 'more') {
                this.$http.post(this.$store.state.URL.InformationTag).then(resp => {
                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.moreList = resp.List;

                        this.moreList.unshift({ Id: '', Name: '所有资讯' });

                        if (this.moreList.length) {
                            this.$store.commit('setInformationClassify', this.moreList[0]);
                        }
                    } else {
                        Notify(resp.Message);
                    }
                }).catch(() => {
                    Notify(this.$store.state.RESP_TEXT.netError);
                });
            }
        },
        methods: {
            search () {
                if (this.checkSearchPage()) {
                    return;
                }

                this.$emit('clickSearch');

                this.$store.commit('toggleSearch');

                let text = this.$store.state.searchText.trim();

                if (!text.length) return;

                this.$store.commit('setSearchList', text);
            },
            togglePopupShow () {
                this.popupShow = !this.popupShow;
            },
            toggleContainerZIndex () {
                this.containerZIndex = !this.containerZIndex;
            },
            changeCity (data) {
                this.address = data[1].name;
                this.cityCode = data[1].code;

                this.togglePopupShow();
            },
            searchNews (classify) {
                this.$store.commit('setInformationClassify', classify);
                this.$emit('clickSearch');
                this.togglePopupShow();
            },
            changeSearchText (text) {
                this.$store.commit('setSearchText', text);
            },
            checkSearchPage () {
                if (!this.$store.state.isShowSearch) {
                    let path = location.pathname.split('/');
                    if (this.toolBtn === 'address' && path[path.length - 1] !== 'findHouse') {
                        this.$router.push('/findHouse');
                    }
                    this.$store.commit('toggleSearch');
                    return true;
                }
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    $inputHeight = 0.84rem + 0.33rem * 2
    $addrW = 1.4rem
    $addrH = 0.54rem

    .vue-search
        position fixed
        top 0
        z-index 1
        width 100%
        .container
            position relative
            width 100%
            background $themeColor
            z-index 1
            &.container-zIndex
                z-index $searchZIndex
        .tool-container
            padding-right 0.28rem
            height $inputHeight
            line-height $inputHeight
            font-size 0.45rem
            font-weight 200
            color #fff
            text-align right
            .addr-content
                position relative
                box-sizing border-box
                display inline-block
                height $addrH
                line-height $addrH
                width $addrW
                vertical-align middle
                .addr-text
                    display inline-block
                    height $addrH
                    line-height $addrH
                    width $addrW
                    overflow hidden
                    text-overflow ellipsis
                    white-space nowrap
                &::after
                    position absolute
                    bottom 0
                    right -0.2rem
                    display inline-block
                    content ''
                    height 0
                    width 0
                    border-bottom 0.2rem solid #fff
                    border-left 0.2rem solid transparent
            .iconfont
                font-size 0.8rem
        .more-container
            padding 0.3rem
            .news-row
                &.row-n
                    margin-top 0.3rem
                .news
                    div
                        padding 0.15rem 0
                        margin 0 auto
                        width 2.1rem
                        border 0.01rem solid #808080
                        border-radius 0.1rem
                        font-size 0.31rem
                        color #808080
                        text-align center
</style>
