<template>
    <div class="content-title">
        <slot></slot>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        name: 'contentTitle'
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .content-title
        padding-left 0.3rem
        border-left 0.15rem solid #FF9D3A
        font-size 0.48rem
</style>
