<template>
    <div class="informationDetail-container">
        <h1>{{data.Title}}</h1>
        <div class="info-container">
            <p>原创：{{data.Author}}</p>
            <p><span class="left">{{$tools.formatTime(data.InputTime)}}</span><span class="right">阅读&nbsp;&nbsp;{{data.ReadCount}}</span></p>
        </div>
        <div class="content-container" v-html="data.Content"></div>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Notify } from 'vant';

    export default {
        name: 'informationDetail',
        data () {
            return {
                data: {}
            };
        },
        created () {
            // fetch data
            this.$http.post(this.$store.state.URL.InfomationDetail, {
                Id: this.$route.query.id
            }).then(resp => {
                resp = resp.data;
                if (resp.Code === this.$store.state.RESP_CODE.ok) {
                    this.data = resp.List[0];
                } else {
                    Notify({ type: 'danger', message: resp.Message });
                }
            }).catch(err => {
                console.log(err);

                Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
            });
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .informationDetail-container
        position fixed
        box-sizing border-box
        width 100%
        height 100%
        padding 0.6rem
        background #ffffff
        h1
            margin 0
            font-size 0.6rem
            color #474747
            font-weight 400
            text-align center
        .info-container
            margin-top 0.6rem
            p
                margin 0 0 0.3rem
                font-size 0.3rem
                color #B5B5B5
                .right
                    float right
</style>
