<template>
    <div class="container">
        <search-bar tool-btn="more" @clickSearch="fetch(true)"></search-bar>
        <div class="page-container">
            <content-title class="title">{{this.$store.state.informationClassify.name}}</content-title>
            <van-pull-refresh v-model="isLoading" @refresh="fetch(true)">
                <van-list v-model="isLoading" @load="fetch" :finished="isFinished" :finished-text="this.$store.state.RESP_TEXT.finished" :error.sync="isError" :error-text="this.$store.state.RESP_TEXT.error">
                    <van-cell v-for="(item, index) in newsList" :key="index">
                        <news :data="item"></news>
                    </van-cell>
                </van-list>
            </van-pull-refresh>
        </div>
        <search v-show="this.$store.state.isShowSearch"></search>
    </div>
</template>

<script type="text/ecmascript-6">
    import SearchBar from '@/components/searchBar/index';
    import ContentTitle from '@/components/contentTitle/index';
    import { PullRefresh, List, Cell, Notify } from 'vant';
    import News from '@/components/news/index';
    import Search from '@/components/search/index';
    export default {
        name: 'informationCenter',
        components: {
            Search,
            News,
            ContentTitle,
            SearchBar,
            [PullRefresh.name]: PullRefresh,
            [List.name]: List,
            [Cell.name]: Cell
        },
        data () {
            return {
                isLoading: false,
                isFinished: false,
                isError: false,
                newsList: [],
                curPage: 1
            };
        },
        methods: {
            fetch (refresh) {
                if (refresh) {
                    this.newsList = [];
                    this.curPage = 1;
                }

                this.$http.post(this.$store.state.URL.InformationList, {
                    CurPage: this.curPage,
                    PageSize: 10,
                    ContentId: this.$store.state.informationClassify.id,
                    SearchKey: this.$store.state.searchText
                }).then(resp => {
                    this.isLoading = false;

                    resp = resp.data;

                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        this.curPage++;

                        this.newsList = this.newsList.concat(resp.List);

                        this.isFinished = this.newsList.length >= resp.Count;
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                        this.isError = true;
                    }
                }).catch(err => {
                    console.log(err);
                    this.isError = true;
                });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        height 100%
        .page-container
            view-wrapper($searchHeight, 0)
            .title
                margin-top 0.3rem
</style>
