<template>
    <div class="container">
        <div class="page-container">
            <div class="header">
                <van-image width="100%" height="auto" lazy-load fit="cover" :src="bg"></van-image>
                <van-image class="avatar" width="2.58rem" height="2.58rem" fit="cover" round :src="user.avatar" lazy-load>
                    <template v-slot:error><img class="default-avatar" src="./../../global/images/defaut_avatar.png" alt="头像"></template>
                </van-image>
                <div class="name">{{user.name}}</div>
            </div>
            <div class="tool-container">
                <van-cell is-link class="tool" to="/myReviews">
                    <template slot="title">
                        <img src="./my_review.png" alt="点评" class="icon">
                        <span>我的点评</span>
                    </template>
                </van-cell>
                <van-cell is-link class="tool" to="/myHouse">
                    <template slot="title">
                        <img src="./my_attention.png" alt="关注" class="icon">
                        <span>我的关注</span>
                    </template>
                </van-cell>
            </div>
        </div>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Image, Cell } from 'vant';
    export default {
        name: 'my',
        components: {
            [Image.name]: Image,
            [Cell.name]: Cell
        },
        data () {
            return {
                bg: require('./my_bg.png'),
                user: {
                    avatar: '',
                    name: '用户'
                }
            };
        },
        methods: {
            fetch () {
                // TODO 需要接入用户数据
                this.user = {
                    avatar: '',
                    name: '用户'
                };
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .container
        height 100%
        .page-container
            view-wrapper(0, $menuBarHeight)
            background #EFEFF4
            .header
                padding-bottom 1.06rem
                background #fff
                .avatar
                    display block
                    margin -2rem auto 0
                .name
                    margin-top 0.38rem
                    text-align center
                    font-size 0.48rem
                    color #784EF6
            .tool-container
                .tool
                    .icon
                        width 0.65rem
                        height 0.65rem
                        margin-right 0.25rem
                        vertical-align middle
                    span
                        font-size 0.42rem
                        color #262626
                        vertical-align middle
</style>
