<template>
    <div class="advancedRefer-container">
        <van-tabs class="tabs-wrapper ritj-tabs" v-model="active" sticky animated>
            <van-tab class="tab-item refer" name="refer">
                <div class="icon" slot="title">
                    <img src="./refer.png" alt="免费咨询">
                    <span>免费咨询</span>
                </div>
                <div class="content">
                    <p>完成以下问卷，即可进行专业的高级咨询服务，赶快行动吧！</p>
                    <div class="qa-container" v-for="(item, index) in QAList" :key="item.Id">
                        <div class="q-container">{{formatNum(index)}}. {{item.Ask}}</div>
                        <van-field class="ritj-field" v-model="item.Answer" type="textarea"></van-field>
                    </div>
                    <div class="submit-container">
                        <van-button :color="this.$store.state.COLOR.theme" size="large" :loading="isSubmitLoading" @click="submitQA">提交</van-button>
                    </div>
                </div>
            </van-tab>
            <van-tab class="tab-item pay" name="pay">
                <div class="icon" slot="title">
                    <img src="./pay.png" alt="微信支付">
                    <span>微信支付</span>
                </div>
                <div class="content">
                    <div class="pay-container">
                        <img src="./cost.png" alt="金币">
                        <p>¥ 50.00</p>
                    </div>
                    <div class="pay-button-container">
                        <van-button :color="this.$store.state.COLOR.theme" size="large" :loading="isSubmitLoading" @click="pay">立即支付</van-button>
                    </div>
                </div>
            </van-tab>
        </van-tabs>
    </div>
</template>

<script type="text/ecmascript-6">
    import { Tabs, Tab, Field, Notify, Button } from 'vant';

    export default {
        name: 'advancedRefer',
        components: {
            [Tabs.name]: Tabs,
            [Tab.name]: Tab,
            [Field.name]: Field,
            [Button.name]: Button
        },
        data () {
            return {
                active: 'refer', // refer pay
                isSubmitLoading: false,
                QAList: []
            };
        },
        created () {
            this.$http.post(this.$store.state.URL.AdvisoryAdvanced).then(resp => {
                resp = resp.data;
                if (resp.Code === this.$store.state.RESP_CODE.ok) {
                    this.QAList = resp.List;
                } else {
                    Notify({ type: 'danger', message: resp.Message });
                }
            }).catch(err => {
                console.log(err);
                Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
            });
        },
        methods: {
            formatNum (num) {
                num++;
                return num < 10 ? `0${num}` : num;
            },
            submitQA () {
                this.isSubmitLoading = true;

                this.$http.post(this.$store.state.URL.AdvisoryAdvancedQuiz, {
                    Phone: this.$store.state.USER.Phone,
                    List: this.QAList
                }).then(resp => {
                    this.isSubmitLoading = false;

                    resp = resp.data;
                    if (resp.Code === this.$store.state.RESP_CODE.ok) {
                        Notify({ type: 'primary', message: '提交成功' });
                    } else {
                        Notify({ type: 'danger', message: resp.Message });
                    }
                }).catch(err => {
                    this.isSubmitLoading = false;
                    console.log(err);
                    Notify({ type: 'danger', message: this.$store.state.RESP_TEXT.netError });
                });
            },
            pay () {
                // TODO 支付逻辑
                Notify({ type: 'primary', message: '支付成功' });
            }
        }
    };
</script>

<style scoped lang="stylus" rel="stylesheet/stylus">
    .advancedRefer-container
        height 100%
        background $backgroundColor
        .refer
            .content
                background inherit
                padding 0 0.3rem
                p
                    margin 0.15rem 0
                    background inherit
                    text-align center
                    font-size 0.3rem
                    color #B5B5B5
                .qa-container
                    padding 0.3rem
                    margin-bottom 0.3rem
                    background #ffffff
                    .q-container
                        margin-bottom 0.27rem
                        font-size 0.33rem
                        color #6A6A6A
                .submit-container
                    padding-bottom 0.6rem
        .pay
            .content
                margin-top 0.6rem
                padding 0 0.3rem
                background transparent
                .pay-container
                    padding 1.66rem 0 1.5rem
                    background #ffffff
                    img
                        display block
                        width 3.76rem
                        height 2.17rem
                        margin 0 auto
                    p
                        margin-top 1.06rem
                        text-align center
                        font-size 0.6rem
                .pay-button-container
                    margin-top 0.9rem
                    padding 0 0.6rem
</style>
